.ingredient {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.ingredient-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ingredient-img {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 10px;
}

.ingredient-name {
  margin-left: 20px;
}

.ingredient-count {
  margin-right: 20px;
}

.ingredient-btn {
  color: white;
  background-color: #00BB34;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.ingredient-btn:hover {
  border: 1px solid #014614;
}

.ingredient-btn:active {
  box-shadow: 2px 2px 5px 0 #014614;
}